#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    height: 300px;
    border: 2px solid gray;
    gap: 2px;
}
.box{
    border: 2px solid rgb(61,60,60);
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(4){
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 3px;
}
.part{
    border: 2px solid gray;
    background-color: lightcyan;
}
#head{
    background-color: burlywood;
    text-align: center;
}
#footer{
    text-align: left;
    background-color: black;
    color:white;
}